<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}"/>
    <title>Document</title>
    <script src="{{url_for('static',filename='js/script.js')}}"></script>
    <script src="https://kit.fontawesome.com/e61293bf49.js" crossorigin="anonymous"></script>
    <script type="text/javascript"
        src="https://cdn.jsdelivr.net/npm/@emailjs/browser@3/dist/email.min.js">
</script>
<script type="text/javascript">
   (function(){
      emailjs.init("Vf4u076Aejfoy8dnC");
   })();
</script>
   
</head>
<body>
    
    <section id="Landing">
        
        {% include 'nav.html' %}
        
        {% block content %}
        {% endblock %}

    
    </br></br>
    <footer>
        <div class="container">
            <div class="row row_column">
                <a href="#">
                    <figure class="footer_logo">
                        <img src="{{url_for('static',filename='images/prologo.png')}}" alt="" class="footer_logo-img">
                    </figure>
                </a>
                <div class="footer_list">
                    <a href="{{url_for('home')}}" class="footer_link">Home</a>
                    <a href="{{url_for('about')}}" class="footer_link no-cursor">About</a>
                
                    <a href="{{url_for('contact')}}" class="footer_link no-cursor">Contact</a>
                </div>
                <div class="footer_copyright">
                    Copyright &copy; Connect2Serve
                </div>
            </div>
        </div>
    </footer>
</section>
</body>
</html>