<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}"/>
    <title>Document</title>
    <script src="{{url_for('static',filename='script.js')}}"></script>
    <script src="https://kit.fontawesome.com/e61293bf49.js" crossorigin="anonymous"></script>
    <script type="text/javascript"
        src="https://cdn.jsdelivr.net/npm/@emailjs/browser@3/dist/email.min.js">
</script>
<script type="text/javascript">
   (function(){
      emailjs.init("Vf4u076Aejfoy8dnC");
   })();
</script>
   
</head>
<body>
    <section id="Landing">
        <nav>
            <div class="container">
            <img class="logo" src="{{url_for('static',filename='prologo.png')}}" alt="logo">
            <ul class="nav_links">
                <li><a href="#" class="nav_link">Home</a></li>
                <li><a href="#"  class="nav_link">Contact</a></li>
                <li><button  class="nav_link nav_link-book" onclick="togglelogin()">login</button></li>
                <li><button  class="nav_link nav_link-book" onclick="togglePopUp()">Sign Up</button></li>
            </ul>
        </div>
        </nav>
        <header>
            <div class="head_container">
                <div class="head_description">
                <h1>Be the change you wish to see in the world  
                </h1>
                <h2>
                    Find Your Event with <span class="purple"> Connect2Serve</span>
                </h2>
              
            </div>
            <figure class="bg-wrapper">
                <img src="{{url_for('static',filename='bg1.png')}}" alt="bg">
            </figure>
            </div>
        </header>
        <button class="mail_btn click">
            <i class="fas fa-envelope"></i>
        </button>
        <div class="login">
            <div class="login_half login_svg">
                <h2 class="login_title login_title-svg">Welcome to Connect2Serve</h2>
                <figure class="login_logo_wrapper">
                    <img src="{{url_for('static',filename='undraw_access_account_re_8spm.svg')}}" class="login_logo" alt="">
                </figure>
                <h3 class="login_description">
                   login to find an event/Oraganize an event.
                </h3>
            </div>
            <div class="login_half login_forms">
                <i class="fas fa-times login_exit click" onclick="togglelogin()"></i>
                <h2 class="login_title login_title-form">Login</h2>
                <form id="login_form" onsubmit="contact(event)">
                    <div class="form_item">
                        <label for="username" class="form_item_label">Username</label>
                        <input class="input" type="text" name="user_name" placeholder="Enter your name" required></input>

                    </div>
              
                    <div class="form_item">
                        <label for="email" class="form_item_label">Email</label>
                        <input class="input" type="user_email" name="email" placeholder="Enter email address" required></input>

                    </div>
                    <div class="form_item">
                        <label for="password" class="form_item_label">Password</label>
                        <input class="input" type="password" name="password" required></input>

                    </div>
                 
              
               
                <button id="form_submit" class="form-submit" >Login</button>
                </form>
               
            </div>
            
        </div>
        <div class="popup">
            <div class="popup_half popup_svg">
                <h2 class="popup_title popup_title-svg">Welcome to Connect2Serve</h2>
                <figure class="popup_logo_wrapper">
                    <img src="{{url_for('static',filename='undraw_mobile_encryption_re_yw3o.svg')}}" class="popup_logo" alt="">
                </figure>
                <h3 class="popup_description">
                    Sign up to find an event/Oraganize an event.
                </h3>
            </div>
            <div class="popup_half popup_form">
                <i class="fas fa-times popup_exit click" onclick="togglePopUp()"></i>
                <h2 class="popup_title popup_title-form">Sign Up</h2>
                <form id="SignUP_form" action="{{url_for('signup')}}" method='POST'>
                    <div class="form_item">
                        <label for="username" class="form_item_label">Username</label>
                        <input class="input" type="text" name="user_name" placeholder="Enter your name" required></input>

                    </div>
                    <div class="form_item">
                        <label for="email" class="form_item_label">Email</label>
                        <input class="input" type="user_email" name="email" placeholder="Enter email address" required></input>

                    </div>
                    <div class="form_item">
                        <label for="password" class="form_item_label">Password</label>
                        <input class="input" type="password" name="password" required></input>

                    </div>
                    <div class="form_item">
                        <label for="PhNumber" class="form_item_label">Phone Number</label>
                        <input class="input" type="number" name="PhNumber" minlength="10" required></input>

                    </div>
                   
                   <div class="rolle">
                    <h4 class="RoleOfPerson">Select your Role</h4>
                    
                    <input type="radio" id="volunteer" class="rbtn" name="role" value="volunteer" required>
                    <label for="volunteer">Volunteer</label>
                    <input type="radio" id="organizer" class="rbtn" name="role" value="organizer" required>
                    <label for="organizer">Organizer</label>
                </div>
                    
              
                <div class="Districts">
                    <h4 class="districtName">Select Your district</h4>
                    <select id="District" name="district" required>
                        <option value="">Select a State</option>
                        <option value="Amalapuram">Amalapuram</option>
                        <option value="Anakapalli">Anakapalli</option>
                        <option value="Ananthapuram">Ananthapuram</option>
                        <option value="Bapatla">Bapatla</option>
                        <option value="Bhimavaram">Bhimavaram</option>
                        <option value="Chittoor">Chittoor</option>
                        <option value="Eluru">Eluru</option>
                        
                        <option value="Guntur">Guntur</option>
                        <option value="Kakinada">Kakinada</option>
                        <option value="Kurnool">Kurnool</option>
                       
                        <option value="Kadapa">Kadapa</option>
                        <option value="Machilipatnam">Machilipatnam</option>
                        <option value="Nandyala">Nandyala</option>
                        <option value="Narasaraopeta">Narasaraopeta</option>
                        <option value="Nellore">Nellore</option>
                        <option value="Ongole">Ongole</option>
                        <option value="Parvathipuram">Parvathipuram</option>
                        <option value="Paderu">Paderu</option>
                        <option value="Puttaparthi">Puttaparthi</option>
                        <option value="Rayachoti">Rayachoti</option>
                        
                        <option value="Rajahmahendravaram">Rajahmahendravaram</option>
                        <option value="Srikakulam">Srikakulam</option>
                        <option value="Tirupati">Tirupati</option>
                        <option value="Visakhapatnam">Visakhapatnam</option>
                        <option value="Vizianagaram">Vizianagaram</option>
                        <option value="Vijayawada">Vijayawada</option>
                       
                      </select>
                      
                </div>
                <button id="form_submit" class="form-submit" >Sign Up</button>
                </form>
                <div class="popup_overlay popup_overlay-loading">
                    <i class="fas fa-spinner"></i>
                </div>
                <div class="popup_overlay popup_overlay-success">
                  Signed Up SuccessFully!
                </div>
            </div>
            
        </div>
    </section>
    <section id="stories">
        <div class="container">
            <div class="row">
                <h1 class="section_title">
                    Recent Successful Events
                </h1>
                <ul class="stories_list">
                    <li class="story">
                        <div class="story_wrapper">
                            <img src="{{url_for('static',filename='volunteer2.jpg')}}" class="story_img" alt="">
                            <div class="story_wrapper-bg"></div>
                            <div class="story_description">
                                <h3 class="story_description_title">
                                    Beach Cleaning
                                </h3>
                                <h4 class="story_description_sub-title">
                                    RK Beach Vizag
                                </h4>
                                <p class="story_description_para">
                                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sint reprehenderit dicta ipsam, eaque labore vel itaque. Cumque placeat unde eos!
                                </p>

                            </div>
                        </div>
                    </li>
                    <li class="story">
                        <div class="story_wrapper">
                            <img src="{{url_for('static',filename='volunteer1.jpg')}}" class="story_img" alt="">
                            <div class="story_wrapper-bg"></div>
                            <div class="story_description">
                                <h3 class="story_description_title">
                                    Food service at Orphanage 
                                </h3>
                                <h4 class="story_description_sub-title">
                                    Vizianagaram
                                </h4>
                                <p class="story_description_para">
                                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sint reprehenderit dicta ipsam, eaque labore vel itaque. Cumque placeat unde eos!
                                </p>

                            </div>
                        </div>
                    </li>
                    <li class="story">
                        <div class="story_wrapper">
                            <img src="{{url_for('static',filename='volunterrr.jpg')}}" class="story_img" alt="">
                            <div class="story_wrapper-bg"></div>
                            <div class="story_description">
                                <h3 class="story_description_title">
                                    Old Age homes 
                                </h3>
                                <h4 class="story_description_sub-title">
                                    Guntur
                                </h4>
                                <p class="story_description_para">
                                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sint reprehenderit dicta ipsam, eaque labore vel itaque. Cumque placeat unde eos!
                                </p>

                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </section>
    <footer>
        <div class="container">
            <div class="row row_column">
                <a href="#">
                <figure class="footer_logo">
                    <img src="{{url_for('static',filename='prologo.png')}}" alt="" class="footer_logo-img">
                </figure>
            </a>
            <div class="footer_list">
                <a href="" class="footer_link">Home</a>
                <a href="" class="footer_link no-cursor">About</a>
               
                <a href="" class="footer_link no-cursor">Contact</a>
            </div>
            <div class="footer_copyright">
                Copyright &copy; Connect2Serve
            </div>
            </div>
        </div>
    </footer>
</body>
</html>